
/* build section */
.build-section {
    background: rgb(1, 47, 52);
    padding: 140px 0;
    display: flex;
    background-image: url(../../images/build-section-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.build {
    align-items: start;
}

.build-title-wrapper {
    max-width: 445px;
}

.build-color {
    width: 50px;
    height: 4px;
    margin-bottom: 54px;
    display: inline-block;
    background: $link-hover;
}

.build-text {
    color: $link-color;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
}

.build-item {
    display: flex;
    align-items: center;
    gap: 23px;
}

.build-item +.build-item {
    margin-top: 32px;
}

.build-item-content-wrapper {
    width: 445px;
}
.build-item-subtitle {
    color: $link-hover;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
}
.build-item-text {
    display: inline-block;
    margin-top: 16px;
    opacity: 0.8;
    color: $link-color;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
}


/* Tablet */
 
@media only screen and (max-width:906px){
    .build-section {
        display: flex;
        flex-direction: column;
        padding: 136px 0 100px 58px;
        background-position: right top;
    }
    .build {
        display: flex;
        flex-direction: column;
        @include display($items:start, $space:start, $gap:64px);
    }
    .build-title-wrapper, .build-item-subtitle  {
        max-width: 100%;
    }
    .build-text{
        @include textStyle($FS:32px, $FW:700, $LH:32px, $MB:0px, $CLR:$white-color);
    }
}

/* Mobile */
@media only screen and (max-width:510px){
    .build-section {
        padding: 100px 0 64px;
    }
    .build-title-wrapper {
        max-width: 70%;
    }
    .build__item, .build-flex-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .build-text{
        @include textStyle($FS:32px, $FW:700, $LH:32px, $MB:0px, $CLR:$white-color);
    }
}
